body {
    width: 100%;
	min-height: 100vh;
	align-items: center;
	background: rgb(92, 92, 92);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	justify-content: center;
    background-position: 0px 0px;
}

html {
    scroll-behavior: smooth;
  }

.Ham-menu {
    display: none;
}

.MSU__Next {
    width: 100%;
    height: 100%;
}

.nav-container {
    background: black;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 80px;
    background: transparent;
}

.Destop-nav-Icon {

    background: transparent;
    position: absolute;
    width: 100%;
    height: 80px;
    border-bottom: .1px solid rgb(255, 255, 255);

    z-index: -1;
    
}

.Destop-nav-Icon ul {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    gap: 30px 30px;
    padding-top: 2em;
    padding-right: 1em;
    font-family: "BoldThaiFont";


}

.Destop-nav-Icon ul li a span {
    color: white;
    font-size: 1.2em;
}

.logo {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 80px;
    background: transparent;
    border-bottom: .1px solid rgb(255, 255, 255);
}

.logo i {
    max-width: 100px;
    max-height: 100px;
    margin-top: 37px;
    margin-left: 10px;
    border-radius: 50px;

}


.logo a {
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.Main-container {
    position: relative;
    padding-top: 8em; 
    

    min-height: 50vh;
    background:white ;
    filter: brightness(95%);
    background-position: 0px -180em;

    /* filter: blur(8px); */
    /* background: linear-gradient(to right, #ff0050, #00f2ea, #757575); */
    overflow: hidden;
    z-index: -3;

    text-align: center;
}

.Main-container .imgtag {
    position: absolute;
    left: 0px;
    top: -60em;
}

.Cumcome {
    position: relative;
    align-items: center;
    justify-items: center;
    display: inline-block;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    height: 60px;

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 2;
}

.Cumcome h1 {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    width: auto;
    margin-top: .7em;
    font-family: 'BoldThaiFont';

    
}

.Nayobaile {
    position: relative;
    color: white;
    padding-top: 2em;
    height: 20vh;

    justify-content: center;
    align-items: center;
    top: 1em;
    left: 0em;

    
}

.Nayobaile img {
    max-width: 700px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 20px;
}


.central-container {
    position: absolute;
    background: rgb(45, 45, 64);
    width: 100%;
    min-height: 100vh;
    flex-grow: 1;

    overflow: hidden;


}

.line1 {
 position: relative;
 background: rgb(45, 45, 64);
 width: 100%;
 min-height: 10vh;
}

.class-derivation {
    position: relative;
    background: rgb(122, 85, 170);
    width: 100%;
    min-height: 100vh;
    flex-grow: 1;

    overflow: hidden;
}

.Policy-title{
    position: relative;
    
    border-radius: 10px;
}

.Policy-title h1 {

    margin-top: 30px;
    font-family: 'BoldThaiFont';
    font-size: 2.8em;
    color: rgb(255, 255, 255);

    text-align: center;
    
}


.central-container .Oncard ul li {
	position: relative;
	justify-content: center;
	align-items: center;
    display: inline-block;

}

.central-container .Oncard ul{
    display: block;
    
    flex-direction: row;
    margin-left: 10%;
    justify-content: center;
	align-items: center;
    

    gap: 50px 20px;
}


.poster {

	position: relative;
	overflow: hidden;
    width: 100%;
	height: 100%;
}

.poster img {
	width: 250px;
	height: 250px;

    
}

.Screen {
    display: none
}

.Oncard {
    position: relative;
    align-items: center;
    justify-content: center;
    
}

.card {
    position: relative;
    width: 500px;
    min-height: 470px;
    background: #b6b6b6;
    box-shadow: 15px 15px 60px rgb(0, 0, 0,0.15);
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .top .userDetails{
    display: flex;
    align-items: center;
}

.card .top .userDetails .profile_img {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .top .userDetails h3 {
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.imgBx {
    position: relative;
    width: 100%;
    height: 450px;
    margin: 10px 0 15px;
    object-fit: cover;
    
}

.imgBx img {
    border-radius: 10px;
}

.actionBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionBtns img {
    max-width: 24px;
    cursor: pointer;
}

.actionBtns .left img {
    margin-right: 8px;
}