body {
    width: 100%;
	height: 100vh;
	align-items: center;
	background: rgb(92, 92, 92);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	justify-content: center;
    background-position: 0px 0px;
}

html {
    scroll-behavior: smooth;
  }

.Ham-menu {
    display: none;
}

.MSU__Next {
    width: 100%;
    height: 100%;
}

.nav-container {
    background: black;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 80px;
    background: transparent;
}

.Destop-nav-Icon {

    background: transparent;
    position: absolute;
    width: 100%;
    height: 80px;
    border-bottom: .1px solid rgb(255, 255, 255);

    z-index: -1;
    
}

.Destop-nav-Icon ul {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    gap: 30px 30px;
    padding-top: 2em;
    padding-right: 1em;
    font-family: "BoldThaiFont";

}

.Destop-nav-Icon ul li a span {
    color: white;
}

.logo {
    position: absolute;
    width: 100%;
    height: 80px;
    background: transparent;
    border-bottom: .1px solid rgb(255, 255, 255);
}

.logo i {
    max-width: 100px;
    max-height: 100px;
    margin-top: 37px;
    margin-left: 10px;
    border-radius: 50px;

}


.logo a {
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.Main-container {
    position: relative;
    padding-top: 8em; 
    

    height: 50vh;
    background: bisque;

    overflow: hidden;
    z-index: -3;

    text-align: center;
}

.Cumcome {
    position: relative;
    align-items: center;
    justify-items: center;
    display: inline-block;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    height: 60px;

}

.Cumcome h1 {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    width: auto;
    margin-top: .7em;
    font-family: 'BoldThaiFont';
}

.Nayobaile {
    position: relative;
    color: white;
    padding-top: 2em;
    height: 20vh;

    justify-content: center;
    align-items: center;
    top: 1em;
    left: 0em;
}

.Nayobaile img {
    max-width: 700px;
}

.Book {
    position: relative;
    justify-content: center;
    align-items: center;
    top: -7em;
    left: 18em;
}

.Book img {
    max-width: 100px;
    max-height: 200px;
}

